<h2>Edit "{{entry.title}}"</h2>

<div id="react-entry-form">
  <img src="/img/spinner.svg" alt="">
</div>

<script type="application/json" id='entry-data'>{{{json entry}}}</script>
<script src="/js/entry_form.bundle.js"></script>
