<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- KVK BTW -->
      <span class="col-md-4 col-xs-12 kvk">
        KVK 58543708<br>
        BTW NL 201166227B01
      </span>

      <!-- Handelsnaam -->
      <div class="col-md-4 col-xs-12 handelsnaam">
        <span>Sputnik 9 is een AIRmusic handelsnaam</span><br>
        <!-- Copyright -->
        <span>Copyright &copy; Sputnik9 - 2015</span>
      </div>

      <!-- Email -->
      <span class="col-md-4 col-xs-12 email">
        <a class="email" href="mailto:info@sputnik9.nl">info@sputnik9.nl</a>
      </span>
    </div>
    </div>
  </div>
</footer>


