<footer class="footer">
  <div class="container">
    <div class="row">

      <span class="col-md-4 col-xs-12 left">
        AIRmusic<br>
        Ringbaan zuid 87<br>
        5021 AA TILBURG<br>
        <small>(geen bezoekadres)</small>
      </span>
      
      <!-- Handelsnaam -->
      <span class="col-md-4 col-xs-12 middle"><br>
        Sputnik 9 is een AIRmusic handelsnaam<br>
        Copyright &copy; Sputnik9 - 2016
      </span>

      <span class="col-md-4 col-xs-12 right">
        <a class="email" href="mailto:info@sputnik9.nl">info@sputnik9.nl</a><br><br>
        KVK 58543708<br>
        BTW NL 201166227B01
      </span>
    
    </div>
    </div>
</footer>


