<footer class="footer">
  <!-- Airmusic link -->
  <div class="left">
    <a href="http://www.airmusic.nl">www.airmusic.nl</a>
  </div>

  <!-- Copyright -->
  <div class="middle">
    Sputnik 9 is een AIRmusic handelsnaam<br>
    Copyright &copy; Sputnik9 - 2016
  </div>

  <!-- Sputnik 9 info email -->
  <div class="right">
    <a href="mailto:info@sputnik9.nl">info@sputnik9.nl</a>
  </div>
</footer>
