<div class="navbar transparent navbar-inverse navbar-fixed-top hr">
  <div class="navbar-brand logo" style="padding:10px">
    <a href="/"><img src="/img/sputniklogo.svg" height="50px" alt="Sputnik9 Logo"></a>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav menustyling active" style="font-size:14px;margin-top:9px; color:white;">
        <li class="active"><a href="/">JAN</a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/">FEB</a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>MAR</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>APR</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>MAY</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>JUN</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>JUL</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>AUG</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/" class="disabled"><del>SEPT</del></a></li>
      </ul>
      <ul class="nav navbar-nav menustyling navbar-right" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/logout">Uitloggen</a></li>
      </ul>
      <ul class="nav navbar-nav menustyling navbar-right" style="font-size:14px;margin-top:9px; color:white;">
        <li><a href="/users/me">Voorkeuren</a></li>
      </ul>

    
      </ul>
    </div>
  </div>
</div>
