<div class="navbar transparent navbar-inverse navbar-fixed-top hr">
  <div class="navbar-brand logo" style="padding:10px">
    <a href="/"><img src="img/sputniklogo.svg" height="50px"></a>
  </div>
  <div class="container">
    <ul class="nav navbar-nav" style="font-size:17px;margin-top:9px; color:white;">
      <li><a href="/">HOME</a></li>
      <li><a href="/#contact">CONTACT</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="font-size:17px;margin-top:9px; color:white;">
      <li><a href="/logout">Uitloggen</a></li>
    </ul>
  </div>
</div>
