<div class="container" style="margin-top:40px">

<!-- SIGN UP-->
  <div class="cole-md-12" style="text-align:center">
    <div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
      <button type="button">Pre-order nu!</button>
      <div class="morph-content">
        <div>
          <div class="content-style-form content-style-form-1">
            <span class="icon icon-close">Close the dialog</span>
            <h2>Sign Up</h2>
            <form action="/users" method="POST" accept-charset="utf-8" >

              <p>
              <label>First Name</label>
              <span class="nomatch_message" id="nomatch_first_name">Voornaam is te kort.</span>
              <input type="text" name="first_name" id="first_name" autocorrect="off" spellcheck="false"/>
              </p>

              <p>
              <label>Last Name</label>
              <span class="nomatch_message" id="nomatch_last_name">Achternaam is te kort.</span>
              <input type="text" name="last_name" id="last_name" autocorrect="off" spellcheck="false"/>
              </p>

              <p>
              <label>Email</label>
              <span class="nomatch_message" id="nomatch_email">Email is ongeldig</span>
              <input type="text" name="email" id="email" autocorrect="off" spellcheck="false"/>
              </p>

              <p>
              <label>Password</label>
              <span class="nomatch_message" id="nomatch_password">Passwords don't match</span>
              <span class="nomatch_message" id="nomatch_password_length">Wachtwoord is te kort</span>
              <input type="password" name="password" id="password" />
              </p>

              <p>
              <label>Repeat Password</label>
              <input type="password" id="password_confirmation" />
              </p>

              <p class="notify_group">
                <label class="notify_text" for="receive_emails">Houd mij op de hoogte van nieuwe content</label>
                <input id="receive_emails" type="checkbox" name="receive_emails" checked />
              </p>

              <p class="accept_terms_group">
                <label class="accept_terms_text" for="accept_terms">
                  Ik verklaar kennis te hebben genomen van de
                  <a href="/Termsconditions.pdf" target="_blank">algemene voorwaarden</a>
                  en hiermee akkoord te gaan.
                </label>
                <input id="accept_terms" type="checkbox" />
              </p>

              <p><input type=submit value="Sign Up" id="submit_signup" /></p>

            </form>
            <p style="color:#fafafa; font-size:1em">of</p>
            <p><a class="fb" href="/auth/facebook" >Inloggen via facebook</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LOGIN-->
  <div class="col-md-12" style="text-align:center">
    <div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
      <button type="button">Log in</button>
      <div class="morph-content">
        <div>
          <div class="content-style-form content-style-form-1">
            <span class="icon icon-close">Close the dialog</span>
            <h2>LOG IN</h2>
            <form action="/login" method="POST" accept-charset="utf-8">
              <p>
              <label>Email</label>
              <input type="text" autocorrect="off" name="email" spellcheck="false"/>
              </p>
              <p>
              <label>Password</label>
              <input type="password" name="password"/>
              </p>
              <p><input type="submit" value="Log In" /></p>
            </form>
            <p style="color:#fafafa; font-size:1em">of</p>
            <p><a class="fb" href="/auth/facebook" >Inloggen via facebook</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
