<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foobar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    {{#if flash}}
      <p class="flash {{flash.type}}">{{flash.message}}</p>
    {{/if}}

    <!-- <div style="height: 0; width: 0; position: absolute; visibility: hidden"> -->
    <!--   {{> svgstore}} -->
    <!-- </div> -->

    <header class="navbar">
      <a class="brand" href="/">
        {{> svgstore}}
      </a>

      <div class="navbar-right">
        <ul class="submenu">
          <li class="menu-item"><a href="/">
              <span class="menu">Home</span>
            </a></li>
          <li class="menu-item"><a href="/media">
              <span class="menu">Premium Content</span>
            </a>
          </li>
          <li class="menu-item"><a href="/contact">
              <span class="menu">Contact us</span>
            </a></li>
        </ul>

        <div class="user-info">
          <a class="login" href="/login">Log In!</a>
        </div>
      </div>
    </header>



    {{{body}}}

  </body>
</html>
