<h1>Admin Panel</h1>

<section class="unlock_codes">
  <h2>Unlock Codes</h2>
  <form action="/unlock_codes" method="post" accept-charset="utf-8">


    <label for="email">Email</label>
    <input type="text" name="email" placeholder="john@example.com" id="email">

    <p><input type="submit" value="Generate →"></p>
  </form>
</section>
