<link rel="stylesheet" href="css/static.css" />

<div class="error_page">
  <h1>Woops! (500)</h1>
  <p>Er is iets misgegaan.
  <a href="/" class="back_to_home">Klik hier</a> om verder te gaan.</p>

  <small class="error_message">{{error}}</small>
</div>
