<div class="error_page">
  <h1>Woops!</h1>
  <p>Something went terribly wrong. Sorry about that!
  <a href="/" class="back_to_home">Click here </a> to get back.</p>

  <small class="error_message">{{error}}</small>
</div>
