<link rel="stylesheet" href="/css/home.css" />
<div class="content-style-form request_password_reset">
  <form method="POST">
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="email">
    </div>
    <input type="submit" value="Reset Wachtwoord">
  </form>
</div>
