<link rel="stylesheet" href="/css/home.css" type="text/css" media="screen" charset="utf-8">

<!-- //////////////// PART 1 ////////////////-->
<section id="intro" class="intro-section">
  <!-- WELCOME -->
  <div class="container">
    <div class="col-md-12">
      <img src="img/logo.png" alt="Sputnik9 Logo" class="img-responsive center-block">
    </div>
    <div class="col-md-6 col-md-offset-3 titel">
      <h3>Are you a Fellow Traveler yet?</h3>
    </div>
  </div>

  {{#if user }}
    {{> logged_in }}
  {{else}}
    {{> login }}
  {{/if}}

 <div class="about">
  <table>
    <tr>
      <td><h3>Sputnik 9</h3></td>
      <td><h3>Sputnik 9 Premium account:</h3></td>
    </tr>
    <tr>
      <td>
        <p><span>Negen maanden lang</span>, elke maand een single uitbrengen met steeds een andere groep muzikanten uit bands zoals The KIK, Afterpartees, Lucas Hamming, Shaking Godspeed, Jungle By Night en Paceshifters. Elke maand gaat een andere groep 2 dagen de studio in om nieuw materiaal te schrijven en op te nemen.</p>
        <p><span>Koop nu voor eenmalig €20 jouw Sputnik 9
        Premium abonnement!</span> Je krijgt dan toegang tot onze webpagina waar alle
        muziek, live-video’s en andere exclusieve content op word geplaatst. Wil
        je meer informatie, of bijvoorbeeld weten welke artiesten er mee gaan
        doen? Ga dan naar onze <a href="http://www.facebook.com/sputnik9project">
        Facebook pagina.</a></p>
      </td>
      <td>
        <ul>
          <li>Extra B-sides</li>
          <li>Foto's en ander backstage footage</li>
          <li>Lyrics & blogposts</li>
          <li>Music player met alle songs</li>
          <li>Overzicht per entry-project</li>
          <li>verdiepend materiaal</li>
        </ul>
      </td>
    </tr>
  </table>
  

  
 </div>
</section>
<!---
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About</h1>
      </div>
    </div>
  </div>
  <div class="spacer1"></div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-12 text">
        <p class="col-md-6 yelloww elevator-pitch">Negen maanden lang, elke maand een single uitbrengen met steeds een andere groep muzikanten uit bands zoals The KIK, Afterpartees, Lucas Hamming, Shaking Godspeed, Jungle By Night en Paceshifters. Elke maand gaat een andere groep 2 dagen de studio in om nieuw materiaal te schrijven en op te nemen.</p>

        <div class="col-md-6 padding40" >
          <div class="progress-wrap progress" data-progress-percent="100">
            <div class="progress-bar progress"></div>
          </div>
          <h1><span class="funded">100% FUNDED!</span></h1>
        </div>
      </div>
      <div class="col-md-12 text" style="height:60px"></div>

      <div class="col-md-12 text">
        <div class="col-md-6 padding40 center">
          <img src="img/sputnikyellow.png" width="300px" alt="Yellow blueprint of Sputnik 9 shuttle">
        </div>

        <p class="col-md-6 sales-pitch">Koop nu voor eenmalig €20 jouw Sputnik 9
        Premium abonnement! Je krijgt dan toegang tot onze webpagina waar alle
        muziek, live-video’s en andere exclusieve content op word geplaatst. Wil
        je meer informatie, of bijvoorbeeld weten welke artiesten er mee gaan
        doen? Ga dan naar onze <a href="http://www.facebook.com/sputnik9project">
          Facebook pagina.</a></p>

      </div>
    </div>
  </div>
  
</section>-->
<!--
<section id="preview" class="container">
  <h1 class="voorproefje">Hier is alvast een voorproefje </h1>
  
  <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/sputnik9project/videos/vb.754215701390653/761664763979080/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/sputnik9project/videos/761664763979080/"><a href="https://www.facebook.com/sputnik9project/videos/761664763979080/">Sputnik 9 - In My Head</a><p>Live video gemaakt bij één van de tryouts die we hebben gedaan voor dit project, Sputnik 9. Met Rens Ouburg (gitaar en zang) Florian Van Damme (keys) Paul Snoeren (bass) en Lars Spijkervet (drums)Als je ons wilt steunen via onze crowd funding:https://www.voordekunst.nl/projecten/3917-sputnik-9-1Opgenomen GallowayRecordingStudio door Michiel ClaessenMix: AIRmusic / Lars SpijkervetMastering:  Daan KandelaarsVideo:  Wouter van Uden - Who What Whale</p>Posted by <a href="https://www.facebook.com/sputnik9project/">Sputnik 9</a> on Tuesday, November 24, 2015</blockquote></div></div>

</section> -->
<!--
<section id="contact" class="container">
  <h1>Contact</h1>

<p>
  Voor vragen over je abonnement of andere zaken zijn wij te bereiken op
</p>
<a class="email" href="mailto:info@sputnik9.nl">info@sputnik9.nl</a>

<p>
  Sputnik 9 is een AIRmusic handelsnaam
</p>

<p>
AIRmusic<br>
Ringbaan zuid 87<br>
5021 AA<br>
TILBURG<br>
<small> (geen bezoekadres) </small>
</p>

<a class="phone" href="tel:0031641301870">+31 6 41 30 18 70</a>
<p>(te bereiken op werkdagen tussen 10:00 en 18:00)</p>

</section>
-->

<script src="/js/bundle.min.js"></script>
