html
  head
    title Login!
  body

    h1 Login

    form(method="POST")

      label(for="email") Email
      input#email(type="text",name="email")

      br

      label(for="password") Password
      input#password(type="password",name="password")

      br

      input(type="submit", value="Login!")

    p Don't have an account yet?
      a(href="signup") Click here

