<div class="container">
  <h1>Welcome premium user! <a href="/logout">Logout</a></h1>
  <p>Here are a bunch of videos and goodies for you:</p>

  <ul class="media-collection">
  {{#each media}}
  <a href="/media/{{this._id}}">
    <li class="media-element">
      <h1>{{this.title}}</h1>
      <img src="{{this.thumb}}" alt="">
      <p>{{this.description}}</p>
    </li>
  </a>
  {{/each}}
  <video src="/videos/003.mp4" height="" width="100%" preload="none" autoplay="autoplay" controls></video>
  </ul>
</div>
