<link rel="stylesheet" href="/css/home.css" />
<div class="content-style-form password_reset">
  <form method="POST">
    <div>
      <label for="password">Nieuw Wachtwoord</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <label for="password_confmation">Bevestig Wachtwoord</label>
      <input id="password_confirmation" type="password">
    </div>
    <input type="submit" value="Reset Wachtwoord">
  </form>
</div>
