<link rel="stylesheet" href="/css/home.css" />
<div class="content-style-form password_reset">
  <form method="POST">
    <div>
      <label for="password">Nieuw Wachtwoord</label>
      <span class="nomatch_message" id="length_error">Wachtwoord is te kort</span>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <label for="password_confmation">Bevestig Wachtwoord</label>
      <span class="nomatch_message" id="match_error">Wachtwoorden komen niet overeen</span>
      <input id="password_confirmation" type="password">
    </div>
    <input type="submit" value="Reset Wachtwoord" disabled>
  </form>
</div>

<!-- Validations -->
<script type="text/javascript" charset="utf-8">
var input = {
  pswd: $('#password'),
  pswd_conf: $('#password_confirmation')
}
var nomatch = {
  match: $('#match_error'),
  length: $('#length_error')
}
var submit_btn = $('input[type=submit]');

var checkMatchingPasswords = function() { return input.pswd.val() == input.pswd_conf.val(); }
var checkLength = function(elem) { return elem.val().length >= 6; }

var validations = {
  match: false,
  length: false,
}

function validateMatch() {
  var match = checkMatchingPasswords();
  validations.match = match;
  nomatch.match.toggle(!match);
  validateForm();
}

function validateLength() {
  var match = checkLength(input.pswd)
  validations.length = match;
  nomatch.length.toggle(!match);
  validateForm();
}

function validateForm() {
  var valid = true;
  for (i in validations) {
    if (validations[i] == false) {
      valid = false;
      break;
    }
  }
  submit_btn.prop('disabled', !valid);
}

input.pswd.on('blur', function() {
  input.pswd.on('keyup', validateLength);
  input.pswd.off('blur');
  validateLength();
})

input.pswd_conf.on('keyup', function() {
  if (input.pswd.val().length == input.pswd_conf.val().length) {
    input.pswd.on('keyup', validateMatch)
    input.pswd_conf.off('keyup')
    input.pswd_conf.on('keyup', validateMatch)
    validateMatch()
  }
})

</script>
