<div class="verify_email_page container">
  <h1>Hallo Fellow Traveler!</h1>
  <p>
    Om jouw account te kunnen aanmaken, moet je eerst je e-mail adres bevestigen. We hebben je een e-mail gestuurd met daarin een link om je e-mail adres te bevestigen.
  </p>
  <a href="/resend_verification" class="resend_email_btn">Verstuur nogmaals</button>
</div>
