<link rel="stylesheet" type="text/css" href="/css/premium.css">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>

<!--lightbox-->
<link href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
<link href="//rawgithub.com/ashleydw/lightbox/gh-pages/css/dark.css" rel="stylesheet">

<!-- Audio Player -->
<div id="react-audio-player" class='audio-player'>
  <img src='/img/spinner.svg' class='loading-audio-player' alt=""/>
</div>


<!-- Main body -->
<div class="main">

  <!-- Title -->
  <div class="main-heading">
    <img class="bolts-left" src="/img/scroll-bolts-left.png" alt="">
    <h1 class="title">Entry One</h1>
    <img class="bolts-right" src="/img/scroll-bolts-right.png" alt="">
  </div>

  <div class="videotitle">
    <h3 class="title">Video's:</h3>
  </div>

  <!-- Video -->
  <div class="video-wrap">
    <div class="titleholder">
      <h3 data-togglefor='get-by' class="videotitle active">Get By</h3>
      <h3 data-togglefor='oea' class="videotitle">O E A</h3>
    </div>

    <iframe id='get-by' src="https://player.vimeo.com/video/153681118"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>

    <iframe id='oea' style='display: none' src="https://player.vimeo.com/video/153741821"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>

  <!-- Performers -->
  <ul class="performers">
    <li class="performer">
      <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/marlonthumb.jpg" class="thumb" />
      <div class="info">
        <span class="name">Marlon Penn</span>
        <span class="instrument">vocals / keys</span>
      </div>
    </li>

    <li class="performer">
      <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/leonthumb.jpg" class="thumb" />
      <div class="info">
        <span class="name">Leon Sibum</span>
        <span class="instrument">guitar</span>
      </div>
    </li>

    <li class="performer">
      <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/alexthumb.jpg" class="thumb" />
      <div class="info">
        <span class="name">Alex van Damme</span>
        <span class="instrument">bass</span>
      </div>
    </li>

    <li class="performer">
      <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/larsthumb.jpg" class="thumb" />
      <div class="info">
        <span class="name">Lars Spijkervet</span>
        <span class="instrument">drums</span>
      </div>
    </li>
  </ul>

  <div class="blog">
    <h3 class="title">Entry 1</h3>
    <div class="body">
      <p class="bodytext">Tijdens de sessie van 5 en 6 januari hebben we, zoals je misschien al opgevallen was, twee erg verschillende songs geschreven. Dit is naar mijn idee meteen een tof voorbeeld van hoe onvoorspelbaar het resultaat van de sessies is. Mede daarom schep ik ook geen verwachtingen van de sessies, maar laat ik de boel de boel en zorg dat iedereen zich op z’n gemak voelt en zijn ding kan doen.</p>
      <p class="bodytext">Voor de eerste sessie heb ik Marlon, Leon en Alex gekozen omdat zij qua muziekstijl enigszins overlap hebben met elkaar, maar met de muziek waar ze voornamelijk actief in zijn juist erg ver uit elkaar liggen. Alle drie hebben ook ervaring in het schrijven van muziek, wat in een project als Sputnik 9 van groot belang is. De beide nummers die geschreven zijn in deze sessie zijn dan ook tot stand gekomen uit ideeën van alle muzikanten die mee hebben gedaan aan deze sessie.</p>
    </div>
  </div>

  {{> gallery images=images }}

  <div class="artists">
    <h3 class="title">Entry One Artists</h3>
    <div class="body">
      <div class="col-md-4">
        <div class="name">
          <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/marlonthumb.jpg" class="thumb" />
        <h4>Marlon Penninkhof</h4>
        </div>
        <div class="about">
          <p>Zanger, gitarist, Master of Ceremonies of “MC”, toetsenist, synthfreak, componist en producer Marlon Penninkhof is in 1985 geboren in het mooie Groningen. Naast de vele verschillende dingen die hij doet aan de maak­kant van de muziek is Marlon ook actief als DJ, poëet, danser en maker van (vaak slechte) grappen. Deze muzikale duizendpoot heeft al zoveel dingen gedaan dat ik ze eigenlijk niet durf op te noemen, omdat ik bang ben dat ik iets vergeet, maar hier toch een poging: Marlon Penn, Panenkov, Hotter than Denzel, Dwaallumen, Knalland, Florian Wolff, Marten de Paepe, Amber Arcades, Polynation en nog veel meer!</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="name">
            <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/leonthumb.jpg" class="thumb" />
          <h4>Leon Sibum</h4>
          </div>
          <div class="about">
            <p>Leon is zijn muzikale carriere begonnen als drummer en heeft aan de Herman Brood Academie drums gestudeerd waar hij ook is begonnen met gitaar spelen. Na de Herman Brood Academie heeft Leon gitaar gestudeerd op de Rockacademie waar hij, naast het spelen in de band Dahl, de fijne kneepjes van het vak geleerd heeft en waar hij in aanraking is gekomen met het spelen van veel verschillende genres en muziekstijlen. Nu is Leon vooral actief in het theater, speelt hij in de band Grenadeers en wordt hij hier en daar gevraagd voor studiosessies.</p>
          </div>
        </div>

      <div class="col-md-4">
        <div class="name">
            <img src="http://res.cloudinary.com/sputnik9/image/upload/v1454416668/artist_thumbs/alexthumb.jpg" class="thumb" />
          <h4>Alex van Damme</h4>
          </div>
          <div class="about">
            <p>Naast bassist bij Shaking Godspeed en Crying Boys Cafe is Alex van Damme ook componist en producer. Alex is in 2013 afgestudeerd van het Conservatorium van Amsterdam, afdeling Pop, waar hij in zijn laatste jaar het stokje overnam van Paul Diersen als bassist, toetsenist en backup vocalist bij Shaking Godspeed. Alex heeft voordat hij bij zijn huidige bands ging spelen al veel ervaring opgedaan met bands als Lesoir en 21 Eys of Ruby.</p>
          </div>
        </div>

    </div>
  </div>

  <div class="lyrics">
    <h3 class="title">Lyrics</h3>
    <div class="body">
      <div class="col-md-4">
      Where were your manners<br>
      when you said I should be dead and gone?<br>
      Would it be strange if I refused to pick up the phone?<br>
      Leave me alone<br>
      Leave me<br><br>
      We had a thing<br>
      had a fling<br>
      now it's over and<br>
      no need to reminisce<br>
      why don't you find another man?<br>
      Go find another man<br>
      Go find another<br><br>
      Your sorry is useless<br>
      Look at all my bruises<br>
      Stop it now / stop it now / stop it now<br>
      Walk along
      </div>
      <div class="col-md-4">
      I can't believe you tried to go out and sabotage<br>
      The healing process of my sad, sad, broken heart<br>
      You tore it apart<br>
      You tore me up<br><br>
      We had a blast<br>
      while it lasted<br>
      but it didn't, so<br>
      I'm done dancing<br>
      you're no longer in control<br>
      You're not untouchable<br>
      You're not<br><br>
      Damn your amends<br>
      this is where it ends<br>
      This is it / this is it / this was it<br>
      This was the lie<br><br>
      You hit me in the face<br>
      You don't know what grace is<br>
      I'll get by / you'll get by / we'll get by<br>
      Bye, bye, bye<br>
      Bye bye
      </div>
    </div>
  </div>

  <div class="contributors">
    <h3 class="title">Contributors</h3>
    <div class="body">
      <div class="col-md-4">
        <p><span>Engineers:</span><br><br>
        Michiel Claessen (opname)<br>
        Sipke Woudstra (opname)<br>
        Lars Spijkervet (mix)<br>
        Daan Kandelaars (master)
        </p>
      </div>
      <div class="col-md-4">
        <p><span>Video:</span><br><br>
        Wouter van Uden: ­ Get By<br>
        Lars Spijkervet: ­ O E A
      </div>
      <div class="col-md-4">
        <p><span>Studio:</span><br><br>
        Galloway Recording Studio<Br>
        Nijmegen
        </p>
      </div>
    </div>
  </div>
</div>

<script src="/js/vendor/ekko-lightbox.js"></script>

<!-- Toggling lightbox -->
<script type="text/javascript">
$(document).ready(function ($) {
  // delegate calls to data-toggle="lightbox"
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    return $(this).ekkoLightbox({
      always_show_close: true
    });
  });
});
</script>

<script type="text/javascript" src="/js/premium.bundle.js"></script>
