<link rel="stylesheet" type="text/css" href="/css/premium.css">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>

<!--lightbox-->
<link href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
<link href="//rawgithub.com/ashleydw/lightbox/gh-pages/css/dark.css" rel="stylesheet">

<!-- Audio Player -->
<div id="react-audio-player" class='audio-player'>
  <img src='/img/spinner.svg' class='loading-audio-player' alt=""/>
</div>


<!-- Main body -->
<div class="main">

  <!-- Title -->
  <div class="main-heading">
    <img class="bolts-left" src="/img/scroll-bolts-left.png" alt="">
    <h1 class="title">Titel of the song</h1>
    <img class="bolts-right" src="/img/scroll-bolts-right.png" alt="">
  </div>

  <!-- Video -->
  <div class="video-wrap">
    <iframe src="https://player.vimeo.com/video/153681118"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>

  <!-- Performers -->
  <ul class="performers">
    <li class="performer">
      <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10346595_971050402911822_6559808222999638738_n.jpg?oh=c81b12e28399e377cca26fbb7bc899e4&oe=574A0862" class="thumb" />
      <div class="info">
        <span class="name">Marlon Penn</span>
        <span class="instrument">vocals / keys</span>
      </div>
    </li>

    <li class="performer">
      <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1513689_1022153341140311_6345408113874570723_n.jpg?oh=16c1ea0520cea667515175f8ee7bc88c&oe=57374F47" class="thumb" />
      <div class="info">
        <span class="name">Leon Sibum</span>
        <span class="instrument">guitar</span>
      </div>
    </li>

    <li class="performer">
      <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10991133_10204129504813889_2274057964256073067_n.jpg?oh=bf843cd153e4dd9703f2bec62e74c57c&oe=5703A40E" class="thumb" />
      <div class="info">
        <span class="name">Alex van Damme</span>
        <span class="instrument">bass</span>
      </div>
    </li>

    <li class="performer">
      <img src="https://scontent-ams2-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11870675_1006874912677910_1941578624337538824_n.jpg?oh=1a3c45d0c95d7f593efd5a7ceb444565&oe=57374B85" class="thumb" />
      <div class="info">
        <span class="name">Lars Spijkervet</span>
        <span class="instrument">drums</span>
      </div>
    </li>
  </ul>

  <div class="blog">
    <h3 class="title">Entry 1</h3>
    <div class="body">
      <p class="bodytext">Tijdens de sessie van 5 en 6 januari hebben we, zoals je misschien al opgevallen was, twee erg verschillende songs geschreven. Dit is naar mijn idee meteen een tof voorbeeld van hoe onvoorspelbaar het resultaat van de sessies is. Mede daarom schep ik ook geen verwachtingen van de sessies, maar laat ik de boel de boel en zorg dat iedereen zich op z’n gemak voelt en zijn ding kan doen.</p>
      <p class="bodytext">Voor de eerste sessie heb ik Marlon, Leon en Alex gekozen omdat zij qua muziekstijl enigszins overlap hebben met elkaar, maar met de muziek waar ze voornamelijk actief in zijn juist erg ver uit elkaar liggen. Alle drie hebben ook ervaring in het schrijven van muziek, wat in een project als Sputnik 9 van groot belang is. De beide nummers die geschreven zijn in deze sessie zijn dan ook tot stand gekomen uit ideeën van alle muzikanten die mee hebben gedaan aan deze sessie.</p>
    </div>
  </div>

  {{> gallery images=images }}


  <div class="contributors">
    <h3 class="title">Contributors</h3>
      <div class="body">
        <div class="col-md-4">
        <p><span>Engineers:</span><br><br>
        Michiel Claessen (opname)<br>
        Sipke Woudstra (opname)<br>
        Lars Spijkervet (mix)<br>
        Daan Kandelaars (master)
        </p>
      </div>
      <div class="col-md-4">
        <p><span>Video:</span><br><br>
        Wouter van Uden: ­ Get By<br>
        Lars Spijkervet: ­ O E A
      </div>
      <div class="col-md-4">
        <p><span>Studio:</span><br><br>
        Galloway Recording Studio<Br>
        Nijmegen
        </p>
      </div>
      </div>
  </div>
</div>


<script src="/js/vendor/ekko-lightbox.js"></script>

<!-- Toggling lightbox -->
<script type="text/javascript">
$(document).ready(function ($) {
  // delegate calls to data-toggle="lightbox"
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    return $(this).ekkoLightbox({
      always_show_close: true
    });
  });
});
</script>

<script type="text/javascript" src="/js/premium.bundle.js"></script>
