<link rel="stylesheet" type="text/css" href="/css/premium.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/howler/1.1.28/howler.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>

<!--lightbox-->
<link href="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.css" rel="stylesheet">
<link href="//rawgithub.com/ashleydw/lightbox/gh-pages/css/dark.css" rel="stylesheet">

<!-- The app -->
<div id="premium_page">
  <div class="loading_premium">
    <img src='/img/spinner.svg' alt="Loading spinner"/>
  </div>
</div>

<script src="/js/vendor/ekko-lightbox.js"></script>

<!-- Toggling lightbox -->
<script type="text/javascript">
$(document).ready(function ($) {
  // delegate calls to data-toggle="lightbox"
  $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    return $(this).ekkoLightbox({
      always_show_close: true
    });
  });
});
</script>

<script type="text/javascript" src="/js/premium.bundle.js"></script>
