<div class="prompt_payment_page">
  <h1>This content is for premium users!</h1>
  <p>Hi there {{user.first_name}}!</p>
  <p>The Sputnik9 team has worked really hard to get some amazing content up for
  you. Please GIMME MUNEY in order to get your hands on all that work.</p>
  <div class="payforpremium_container">
    <a href="/payments/new" class="payforpremium">Yes, please!</a>
  </div>
</div>
