<div class="prompt_payment_page container">
  <!-- <h1>This content is for premium users!</h1> -->
  <h1>Hallo {{user.first_name}}!</h1>
  <p>Bedankt voor het aanmaken van jouw account! Om jouw account te activeren, hebben wij de betaling van €20 euro nodig. Van deze €20 doneren wij €10 aan Serious Request. De rest zullen wij gebruiken om ervoor te zorgen dat jij elke maand weer verrast wordt met nieuw materiaal!</p>
  <a href="/payments/new" class="payforpremium">Activeer</a>
</div>
