<div class="prompt_payment_page container">
  <h1>Hallo {{user.first_name}}!</h1>
  <p>Bedankt voor het aanmaken van jouw account! Om jouw account te activeren, hebben wij een betaling van €20 euro nodig. Dat geld zullen wij gebruiken om ervoor te zorgen dat jij elke maand weer verrast wordt met nieuw materiaal!</p>
  <a href="/payments/new" class="payforpremium">Koop nu!</a>
</div>
