<h1>Create a new account</h1>
<form action="/users" method="POST" accept-charset="utf-8">

  {{#if errors.first_name}}
  <span style="color: red">Error: {{errors.first_name}}</span>
  {{/if}}
  <label for="first_name">First Name</label>
  <input type="text" name="first_name"
                     {{#ifvalue values.first_name}}{{/ifvalue}}
                     placeholder="John" id="first_name">

  <br/>

  {{#if errors.last_name}}
  <span style="color: red">Error: {{errors.last_name}}</span>
  {{/if}}
  <label for="last_Name">Last Name</label>
  <input type="text" name="last_name"
                     {{#ifvalue values.last_name}}{{/ifvalue}}
                     placeholder="Doe" id="last_name">

  <br/>

  {{#if errors.email}}
  <span style="color: red">Error: {{errors.email}}</span>
  {{/if}}
  <label for="email">Email</label>
  <input type="text" name="email"
                     {{#ifvalue values.email}}{{/ifvalue}}
                     placeholder="j.doe@example.com" id="email">

  <br>

  {{#if errors.password}}
  <span style="color: red">Error: </span>
  {{/if}}
  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <br/>

  {{#if errors.password_confirmation}}
  <span style="color: red">Error: </span>
  {{/if}}
  <label for="password_confirmation">Confirm password</label>
  <input type="password" name="password_confirmation" id="password_confirmation">

  <p><input type="submit" value="Create account!"></p>
</form>

<p>Already have an account? <a href="/login">Click here</a></p>

