<div class="container thank_you_page">
  <h1 id="thankyou">Thanks for your purchase!</h1>
  <p>Processing your payment may take a few moments. Especially if you've chosen
  to pay via bank transfer.</p>
  <div class="go_to_media__container">
    <a href="/media" class="go_to_media">
      Gimme my stuff! <span class="fa fa-arrow-circle-o-right"></span>
    </a>
  </div>
</div>
