<div class="container thank_you_page">
  <h1 id="thankyou">Bedankt voor je betaling!</h1>

  <p>
    Het kan even duren voordat je betaling geregistreerd is. Deze tijd verschilt
    per transactie wijze. Wanneer je betaling binnen is krijg je toegang tot de
    premium pagina.
  </p>

  <p>
    In de loop van januari krijg je een bericht van ons met meer informatie.
  </p>

  <a class="goto_premium" href="/premium">Ga naar de premium pagina</a>
</div>
