<div class="container thank_you_page">
  <h1 id="thankyou">Bedankt voor je betaling en het activeren van jou account!</h1>

  <p>
    Het kan even duren voordat je betaling geregistreerd is. Deze tijd verschilt per transactie wijze.
  </p>

  <p>
    Wanneer je gekozen hebt voor de Sputnik 9 update, verwacht dan in de loop van januari het eerste bericht.
  </p>

  <p>
  Heb je nog niet gekozen voor de Sputnik 9 update? Doe dat dan hier.
  </p>
</div>
