<h1>Thanks for your purchase!</h1>
<p>Processing your payment may take a few moments. Especially if you've chosen
to pay via bank transfer.</p>
<a href="/media" class="button">
  Gimme my stuff!
</a>
