<link rel="stylesheet" href="/css/static.css" />

<div class="container">
  {{#if error}}
    <p>Je werd niet uitgeschreven van de nieuwsbrief: {{error}}</p>
  {{else}}
    <p>Je bent successvol uitgeschreven van de nieuwsbrief!</p>
  {{/if}}
  <a href="/" class="goto_home">Terug</a>
</div>
