<h3>Edit "{{song.title}}"</h3>
<form method='post'>
  <div class="row">
    <fieldset class="form-group col-md-6" >
      <label for="title">Titel</label>
      <input class="form-control"
             id="title"
             type="text"
             name="title"
             value="{{song.title}}">
    </fieldset>
    <fieldset class="form-group col-md-6" >
      <label for="url">Url</label>
      <small class='text-muted'>* gebruik geen http: begin met // of https://</small>
      <input class="form-control"
             id="url"
             type="text"
             name="url"
             value="{{song.url}}">
    </fieldset>
  </div>
  <fieldset class="form-group" >
    <label for="artists">Artists</label>
    <input class="form-control"
           id="artists"
           type="text"
           name="artists"
           value="{{song.artists}}">
  </fieldset>

  <input class="btn btn-success" type="submit" value="Opslaan">
</form>
