<div id="react-songs-form">
  <img src="/img/spinner.svg" alt="spinner">
</div>

<script type="application/json" id='songs-data'>{{{json songs}}}</script>
<script src="/js/songs_form.bundle.js"></script>
