 <body style="background: black url(http://www.sputnik9.nl/img/bg4.jpg) top left / cover no-repeat;font-family: Arial, sans-serif;padding: 0 10% 30px;text-align: center;">
    <h1 style="color: #fafafa;margin-top: 20px;display: inline-block;">Hallo, {{name}}!</h1>
    <h3 style="color: #fafafa;">Welkom bij Sputnik9!</h3>
    <p style="color: #fafafa;">Bedankt om een account te maken bij Sputnik9! We zijn heel enthousiast om wat geweldige content te maken en te delen met jou.</p>
    <p style="color: #fafafa;">We moeten wel even zeker weten of dit jouw email adres is.</p>
    <a class="btn" href="{{verify_url}}" style="background-color: #fde634;padding: 20px;color: #111;font-weight: bold;text-shadow: none;display: inline-block;text-decoration: none;">Activeer mijn account!</a>
  </body>
