 <table width="100%" border="0" background="http://www.sputnik9.nl/img/bg4.jpg"
style="background-size: cover; font-family: Arial, sans-serif;padding: 0 10% 30px;text-align: center;">
  <tr>
    <td>

      <h1 style="color: #fafafa;margin-top: 20px;display: inline-block;">Hoi, {{name}}!</h1>
      <h3 style="color: #fafafa;">Welkom bij Sputnik9!</h3>
      <p style="color: #fafafa;">Bedankt voor het aanmaken van jouw Sputnik 9 account!</p>
      <p style="color: #fafafa;">Om jouw account te kunnen activeren, hebben we eerst een bevestiging van jouw e-mail adres nodig.</p>
      <a class="btn" href="{{verify_url}}" style="background-color:
        #fde634;padding: 20px;color: #111;font-weight: bold;text-shadow:
        none;display: inline-block;text-decoration: none;">Bevestig e-mail
      adres</a>
    </td>
  </tr>
  </table>
