<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
h1 {
  color: red;
}
a {
  background: orange;
  color: white;
  padding: 10px;
  margin: auto;
  text-decoration: none;
}
    </style>
  </head>

  <body>
    <h1>Hello {{name}}</h1>
    <p>Please confirm with us that this is in fact your email address.</p>
    <a href="{{verify_url}}">Activate your account!</a>
  </body>
</html>
