Hoi, {{name}}!

Dit mailtje krijg je omdat jij of iemand anders een wachtwoord reset heeft
aangevraagd. Dit kan je doen door op onderstaande knop te klikken.

<a href="https://www.sputnik9.nl/users/reset/{{token}}">Reset je wachtwoord!</a>

Groeten,

Sputnik 9
