<table width="100%" border="0" background="https://www.sputnik9.nl/img/bginvert.jpg"
style="background-size: cover; font-family: Helvetica, Arial, sans-serif;;text-align: center;">

  <tr style="width:100%; height:60px; background-color: #fde634;">
    <td>
      <h1 style="color: #000;margin-top: 20px;display: inline-block;">Hoi, {{name}}!</h1>
    </td>
  </tr>

  <tr>
    <td>
      <p style="color: #000;">
        Je hebt aangegeven dat je je wachtwoord vergeten bent. Via deze link kun
        je een nieuw wachtwoord instellen!
      </p>
      <p>

      <p>Veel plezier!</p>

      <a class="btn" href="https://www.sputnik9.nl/users/reset/{{token}}" style="background-color:
      #fde634;padding: 20px;color: #111;font-weight: bold;text-shadow:
      none;display: inline-block;text-decoration: none;">
        Wachtwoord opnieuw instellen
      </a>
      </p>

      <tr>
        <td>
          <img src="https://www.sputnik9.nl/img/sputniklogo-dark.png" width="100px"/>
        </td>
      </tr>

    </td>
  </tr>

</table>


