<table width="100%" border="0" background="https://www.sputnik9.nl/img/bginvert.jpg"
style="background-size: cover; font-family: Helvetica, Arial, sans-serif; text-align: center;">

  <tr style="width:100%; height:60px; background-color: #fde634;">
    <td>
      <h1 style="color: #000;margin-top: 20px;display: inline-block;">Welkom bij Sputnik 9</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h3 style="color: #000;">Je krijgt een gratis Sputnik 9 premium account!</h3>
      <p style="color: #000;">
      In deze mail vind je de activatiecode voor jouw Sputnik 9 Premium account.
      Om deze code te gebruiken moet je eerst een account aanmaken op
      <a href="https://www.sputnik9.nl">sputnik9.nl</a> met jouw e-mailadres of
      via Facebook log-in. Zodra je account gemaakt is wordt je gevraag je
      account te activeren d.m.v. betaling of activatiecode, vul daar deze code
      in.

      <h3 style="color: #000"><span style="padding: 10px; background-color: rgba(255,255,255,0.7)">Je code is: <code>{{code}}</code></span></h3>

      <p style="color: #000;">Na activering van jouw Sputnik 9 Premium account ben je klaar om elke maand weer verrast te worden met het materiaal dat wij gaan maken!</p>
      <p style="color: #000;">Veel plezier!</p>

      <a class="btn" href="https://sputnik9.nl/premium" style="background-color:
      #fde634;padding: 20px;color: #111;font-weight: bold;text-shadow:
      none;display: inline-block;text-decoration: none;">Maak hier een account!</a>

      <tr>
        <td>
          <img src="https://www.sputnik9.nl/img/sputniklogo-dark.png" width="100px"/>
        </td>
      </tr>

    </td>
  </tr>

</table>
