 <table width="100%" border="0" background="http://www.sputnik9.nl/img/bg4.jpg"
style="background-size: cover; font-family: Arial, sans-serif;padding: 0 10% 30px;text-align: center;">
  <tr>
    <td>

      <h1 style="color: #fafafa;margin-top: 20px;display: inline-block;">Hoi!</h1>
      <h3 style="color: #fafafa;">Je krijgt een gratis Sputnik9 premium account!</h3>
      <p style="color: #fafafa;">
     In deze mail vind je de activatiecode voor jouw Sputnik 9 Premium account.
     Om deze code te gebruiken moet je eerst een account aanmaken op
     <a href="https://www.sputnik9.nl">sputnik9.nl</a> met jouw e-mailadres of
     via Facebook log-in. Zodra je account gemaakt is wordt je gevraag je
     account te activeren d.m.v. betaling of activatiecode, vul daar deze code
     in.

      <p style="color: #fafafa;">Je code is: <code>{{code}}</code></p>
    </td>
  </tr>
  </table>
