
 <table width="100%" border="0" background="http://www.sputnik9.nl/img/bg4.jpg"
style="background-size: cover; font-family: Arial, sans-serif;padding: 0 10% 30px;text-align: center;">
  <tr>
    <td>

      <h1 style="color: #fafafa;margin-top: 20px;display: inline-block;">Hallo!</h1>
      <h3 style="color: #fafafa;">Je hebt een gratis Sputnik9 account!</h3>
      <p style="color: #fafafa;">Van Sputnik9 krijg je bij deze een inlogcode om
      een gratis premium account te verkrijgen. 
        <a href="https://www.sputnik9.nl" >Click hier </a>
        om je account aan te maken. Voer dan je premium code in om niet te hoeven betalen.
      </p>
      <p style="color: #fafafa;">Je code is: <code>{{code}}</code></p>
      <p style="color: #fafafa;">We moeten wel even zeker weten of dit jouw email adres is.</p>
      <a class="btn" href="{{verify_url}}" style="background-color: #fde634;padding: 20px;color: #111;font-weight: bold;text-shadow: none;display: inline-block;text-decoration: none;">Activeer mijn account!</a>

    </td>
  </tr>
  </table>
