<table width="100%" border="0" background="https://www.sputnik9.nl/img/bginvert.jpg"
style="background-size: cover; font-family: Helvetica, Arial, sans-serif;text-align: center;">
  
  <tr style="width:100%; height:60px; background-color: #333;">
    <td colspan="3">
      <h1 style="color: #fde634;margin-top: 20px;display: inline-block;">Hoi, {{name}}!</h1>
    </td>
  </tr>
  
  <tr>
    <td colspan="3">
      <h1 style="color: #000;margin-top: 20px;display: inline-block;">Maak je klaar voor entry 1!</h1>
      <p style="color: #000">Er is zojuist nieuwe content geplaatst op de Sputnik9
        <a href="https://www.sputnik9.nl/premium">Premium pagina</a>!
      </p>
      <p>
        De content is van Sputnik 9 Entry 1 met Marlon Penn, Leon Sibum, Alex van Damme en Lars Spijkervet. Ze hebben in twee dagen twee totáál verschillende songs gemaakt! Naast de live­video van ‘Get By’ staat er ook ander materiaal, zoals de ‘B­kant’, een time-lapse, foto materiaal en korte bio’s.
      </p>
      <p style="color: #000" >Veel plezier!</p>
      <p style="color: #000" >Sputnik9</p>
    </td>
  </tr>


  <tr>
    <td>
      <img style="border-top-style:solid; border-color:#fde634; border-width:10px; width:300px" src="https://sputnik9.nl/img/mail1">
    </td>
    <td>
      <img style="border-top-style:solid; border-color:#fde634; border-width:10px; width:300px" src="https://sputnik9.nl/img/mail2">
    </td>
    <td>
      <img style="border-top-style:solid; border-color:#fde634; border-width:10px; width:300px" src="https://sputnik9.nl/img/mail3">
    </td>
  </tr>
  
  <tr>
    <td colspan="3">
    <p style="color: #666;" >We sturen je enkel mailtjes wanneer wij echt iets te vertellen hebben.<br> Wil je toch geen meldingen meer ontvangen? Klik
      <a href="{{unsubscribe_url}}">hier.</a></p>
    </td>
  </tr>
  
</table>

