 <table width="100%" border="0" background="http://www.sputnik9.nl/img/bg4.jpg"
style="background-size: cover; font-family: Arial, sans-serif;padding: 0 10%
30px;text-align: left;">
  <tr>
    <td>
      <h1 style="color: #fafafa;margin-top: 20px;display: inline-block;">Hoi, {{name}}!</h1>
      <p style="color: #fafafa;">Er is zojuist nieuwe content geplaatst op de Sputnik9
        <a href="https://www.sputnik9.nl/premium">Premium pagina</a>!
      </p>
      <p style="color: #fafafa;" >Veel plezier!</p>
      <p style="color: #fafafa;" >Sputnik9</p>
      <p style="color: #fafafa;" >Wil je hier geen meldingen meer van ontvangen? Klik
      <a href="{{unsubscribe_url}}">hier.</a></p>
    </td>
  </tr>
  </table>
