.footer {

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(0,0,0,0.2);
  height: auto;
  padding-top: 15px; // Vertically align text
  padding-bottom: 15px;

  .middle,
  .left,
  .right {
    text-align: center;
    color: $muted;
    a {color:$muted;}
  }
}
