.icon-close {
  @include span;
}

.nomatch_message {
  display: none;
  color: red;
}

#submit_signup[disabled] {
  background: darken(grey, 35);
  color: grey;
}

.fb {
  margin: 0 auto;
  width: 85%;
  color: #fde634;
  border: solid;
  border-width: 4px;
  padding: 1.3em;
  display: block;
  font-family: $rale;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.morph-content {
  overflow: scroll;
}

.notify_group {
  text-align: left;
  .notify_text {
    font-size: 1.2em;
    display: inline-block;
  }
}

.request_password_reset,
.password_reset {
  max-width: 600px;
  margin: 0 auto;
}
