.goto_premium,
.logout_button {
  @include button;
  width: 300px;
}

.or {
  font-size: 12px;
  margin: 10px;
}

p.sales-pitch,
p.elevator-pitch {
  padding: 20px 13px;
  text-align: justify;
  font-size: 18px;
}

.funded { @include span; }

.submit .span {
  font-family: $rale;
}

.paddingtext {
  padding: 2px 0;
  border-left: 20px solid $yelloww;
  width: 400px;
  margin: 20px auto;
}
