.thank_you_page {

  h1#thankyou,
  p {
    text-align: center;
  }

  .go_to_media__container {
    padding-top: 30px;
    text-align: center;
  }

  .go_to_media {
    @include button($BLUE, 1.4);
  }
}
