body {
  background: #fbfbfb;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 30px 0;
}

form {
  margin-bottom: 20px;
}

.navbar-brand {
  padding-top: 7px;
  img { height: 40px; }
}

.download-csv {
  margin-bottom: 20px;
}

.users-table {
  .checkmark {
    color: #485;
    padding-left: 40px;
    text-align: center;
  }

  th.notifications,
  th.premium { text-align: center; }
}

.thead-inverse th {
  color: white;
  background: #373a3c;
}

.table {
  font-size: 16px;
  td, th { padding: 12px !important; }
}

.entry-form {
  .vimeo-url {
    width: 80%;
    display: inline-block;
  }
}

.md-cheat-sheet {
  tr {
    border-bottom: 1px solid rgba(grey, 0.3);
  }
  td { padding: 10px }
}

input[type=submit] {
  margin-right: 30px;
}
