body {
  background: #fbfbfb;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 40px;
}

form {
  margin-bottom: 20px;
}
.navbar-brand {
  padding-top: 7px;
  img { height: 40px; }
}

.users-table {
  .checkmark {
    color: #485;
    padding-left: 40px;
  }
}
