@import "modules/variables";
@import "modules/span";
@import "modules/button";
@import "modules/component";
@import "modules/content";
@import "modules/queries";
@import "partials/general";
@import "partials/homepage";
@import "partials/flash";
@import "partials/forms";
@import "partials/footer";

.titel { margin-top: 90px; }

.submit {
  background-color: $yelloww;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  font-size: 20pt;
  color: #111;
}

.account {
  margin-top: 50px;
  text-align: center;
}

.text {
  text-align:left;
  font-size: 18px;
  text-shadow: 2px 2px 2px $black;
}

.yelloww {
  background-color: $yelloww;
  color: $black;
  text-shadow: none;
}

@mixin scroll-section {
  padding-top: 80px;
  text-align: center;
}

.intro-section { @include scroll-section; padding-top: 0px; }


.about {
  width:100%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: justify;
  margin-bottom: 70px;
  span{color:$yelloww;}

  p {font-size: 1em;}
  h3 {
    text-align: center;
    margin-top: 30px;
    color: $yelloww;}
  ul {
    list-style: none;
    font-size: 1.2em;
    padding:0;
    margin:0;
    text-align: left;
    }
  li {
    padding-left: 1em;
  }
  li:before {
    content: "• ";
    color: $yelloww;
  }
}

@include tablet {
  .about {
    width:60%;
  }
}
