@import "modules/component";
@import "modules/variables";
@import "modules/span";
@import "modules/button";
@import "modules/content";
@import "modules/queries";
@import "partials/general";
@import "partials/homepage";
@import "partials/flash";
@import "partials/forms";
@import "partials/footer";

.titel { margin-top: 90px; }

.intro-section { text-align: center; }

#login, #signup { margin: 0; }

.about {
  width:100%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: justify;
  margin-bottom: 70px;
  span{color:$yelloww;}

  p {font-size: 1em;}
  h3 {
    text-align: center;
    margin-top: 30px;
    color: $yelloww;}
  ul {
    list-style: none;
    font-size: 1.2em;
    padding:0;
    margin:0;
    text-align: left;
    }
  li {
    padding-left: 1em;
  }
  li:before {
    content: "• ";
    color: $yelloww;
  }
}

@include tablet {
  .about {
    width:60%;
  }
}
