@import "modules/variables";
@import "modules/button";
@import "modules/span";
@import "partials/general";
@import "partials/footer";

@mixin premium_static {
  text-align: center;
  h1 { margin-bottom: 40px; }
  p { margin-bottom: 30px; }
}

.prompt_payment_page {
  @include premium_static;
  .payforpremium {
    @include button;
  }

  section.activation-code {
    margin-top: 40px;
    h1 { margin: 40px 0 10px; }
    .submit-code {
      @include button;
      padding: 5px 10px;
    }
  }
}

.verify_email_page {
  @include premium_static;
  .resend_email_btn {
    @include button;
  }
}

.thank_you_page {
  @include premium_static;
  p { margin-bottom: 40px; }
}

.premium_page {
  @include premium_static;
  p { margin-bottom: 20px; }

  // tmp youtube playlist
  .iframe_container {
    margin-bottom: 100px;
    padding: 5%;
  }
}
